<!DOCTYPE html>
<html lang="en">
 
   <head>
       <meta charset="UTF-8">
       <title>LifeSpot</title>
       <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
       <link href="../Static/CSS/slider.css" rel="stylesheet" type="text/css">  
       <script src="../Static/JS/about.js"></script>
       <script src="../Static/JS/slider.js"></script>
         
   </head>
   
   <header id="header-index">
        <h1>LifeSpot - О проекте:</h1>
        <!--SLIDER-->
        <p>Оставьте пожалуйста здесь свой отзыв!</p>     
       
   </header>
  

   <!--SIDEBAR-->
   <body>
        <div class="review-button">
            <button onclick="addComment()">Оставить отзыв</button>
            <div class="reviews">
                
            </div>
        </div>
   </body>
   <!--FOOTER-->

</html>





<!-- <div class="slider">
    <div class="item">
        <img src="../Static/IMG/london.jpg" alt="SLIDE 1">
        <div class="slideText">London</div>
    </div>

    <div class="item">
        <img src="../Static/IMG/ny.jpg" alt="SLIDE 2">
        <div class="slideText">New-York</div>
    </div>

    <div class="item">
        <img src="../Static/IMG/spb.jpg" alt="SLIDE 3">
        <div class="slideText">St. Petersburg</div>
    </div>

    <a class="prev" onclick="minusSlide()">&#10094;</a>
    <a class="next" onclick="plusSlide()">&#10095;</a>
</div>

<div class="slider-dots">
    <span class="slider-dots_item" onclick="currentSlide(1)"></span> 
    <span class="slider-dots_item" onclick="currentSlide(2)"></span> 
    <span class="slider-dots_item" onclick="currentSlide(3)"></span> 
</div> -->