<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>

    <script src="../Static/JS/index.js"></script>
    <script>
        let session = new Map();
       // checkAge();
       // startUserSession(); 
       // printSessionLog();

       const inputParseFunction = function(){
           return document.getElementsByTagName('input')[0].value.toLowerCase();
       }
       
    </script>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>

<header id="#header-index">

</header>

<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Трансляции</p></a>
        <a href="/about"><p>О проекте</p></a>
        <a href="/testing"><p>Тестирование</p></a>
    </div>
</aside>

<body id="body">
    
    <div class="bordered">
        <!--Заголовок страницы-->
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        
        <p>
            <input type="text" oninput="filterVideoContent(inputParseFunction)"
             class="search_stream_input" placeholder="Введите название стрима..." name="search_stream" />
            <!--<button type="submit">Найти</button>-->
        </p>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
        <!--Нью-Йорк-->
        <div class="video-container">
            <iframe width="540" height="305" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p><b>Нью-Йорк, Брайант Парк</b></p>
        </div>
        <!--Санкт-Петербург-->
        <div class="video-container">
            <iframe width="540" height="305" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p><b>Санкт-Петербург, Невский проспект</b></p>
        </div>
        <!--Лондон-->
        <div class="video-container">
            <iframe width="540" height="305" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p><b>Лондон, автобусный маршрут</b></p>
        </div>
    </div>


</body>

<!--Футер страницы находится под основной частью (body)-->
<footer id="footer">
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>
</html>